<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
	<title>Login | SocialAdmin</title>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="xSXZqg43CiJrXiq4cnr2K09C0ONnhlR5PWhTDr1mmIg" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>


    {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}





	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'login/images/login-bg.jpg' %});background-size: cover;background-repeat: no-repeat;background-position: unset;">


			<div class="wrap-login100 p-l-65 p-r-65 p-t-62 p-b-33">
				<span class="login100-form-title">
					Sign In
				</span>
                {% if form.errors %}
                    {% for k, v in form.errors.items %}
                        <div class="alert alert-danger" style="margin-bottom: 0;margin-top: 1rem;">{{ v }}</div>
                    {% endfor %}
                {% endif %}
				<form class="login100-form validate-form flex-sb flex-w" method="post" action="{% url 'login' %}">

					{% csrf_token %}


					<!--<a href="#" class="btn-face m-b-20">-->
						<!--<i class="fa fa-facebook-official"></i>-->
						<!--Facebook-->
					<!--</a>-->

					<!--<a href="#" class="btn-google m-b-20">-->
						<!--<img src="images/icons/icon-google.png" alt="GOOGLE">-->
						<!--Google-->
					<!--</a>-->

					<div class="p-t-31 p-b-9">
						<span class="txt1">
							Email
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Email is required">
						<input class="input100" type="email" name="username" >
						<span class="focus-input100"></span>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1">
							Password
						</span>

						<a href="{% url 'reset' %}" class="txt2 bo1 m-l-5">
							Forgot?
						</a>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" >
						<span class="focus-input100"></span>
					</div>

                    <input type="hidden" name="next" value="{{ next }}">

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Sign In
						</button>
					</div>

					<div class="w-full text-center p-t-25">
						<span class="txt2">
							Not a member?
						</span>

						<a href="{% url 'signup' %}" class="txt2 bo1">
							Sign up now
						</a>

                       <br>
                        <p>Or</p>
                        <a id="fbLogin" href="#" class="txt2 bo1">Login with Facebook</a>
					</div>
				</form>
			</div>
		</div>
	</div>

    <form id="fbForm" method="post" action="{% url 'facebook-login' %}">
          <input type="hidden" id="fbToken" name="access_token">
    </form>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>
	<!-- TODO: Fix Login With Facebook -->
	<!-- Currently working same as get pages access -->
    <script>

        $(function() {
            $("#fbLogin").on("click", function () {
{#                FB.getLoginStatus(function(response) {#}
{#                    if(response.status!="connected"){#}
                        FB.login(function(response) {
                          if(response.status=="connected"){
                              $("#fbToken").val(response.authResponse.accessToken);
                              $("#fbForm").submit()
                          }
                        }, {scope: 'public_profile,email,manage_pages,pages_show_list'});
{#                    }#}
{#                });#}
            })
        });
    </script>

    <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : {{ facebook_app_id }},
              cookie     : true,
              xfbml      : true,
              version    : 'v2.10'
            });

            FB.AppEvents.logPageView();

          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "https://connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
    </script>

    <style>
        .alert{
            margin-bottom: 0;
        }
    </style>

</body>
</html>
