<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>Signup | SocialAdmin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url({% static 'login/images/bg-01.jpg' %});">
            <div class="wrap-login100 p-l-65 p-r-65 p-t-62 p-b-33">
                <span class="login100-form-title">
					Sign Up
				</span> 
                {% if form.errors %}
                <div class="alert alert-danger" style="margin-bottom: 0;margin-top: 1rem;">
                    {% for k, v in form.errors.items %} {{ v }} {% endfor %}
                </div>
                {% endif %}
                <form class="login100-form validate-form flex-sb flex-w" method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                    {% csrf_token %} 


                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
							Email
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        <input class="input100" type="email" name="email">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
							First Name
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="First Name is required">
                        <input class="input100" type="text" name="first_name">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
							Last Name
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Last Name is required">
                        <input class="input100" type="text" name="last_name">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
							Password
						</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password1" id="passwordrr">
                        <span class="focus-input100"></span>
                    </div>
                    <span id="verify" class="alert alert-danger hidden">Password should contain atleast 1 upperCase letter, numeric value,special character  and minimum 8 letter long</span>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
							Password Confirmation
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password2">
                        <span class="focus-input100"></span>
                    </div>


                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
							Register
						</button>
                    </div>

                    <div class="w-full text-center p-t-25">
                        <span class="txt2">
							Already a user?
						</span>

                        <a href="{% url 'login' %}" class="txt2 bo1">
							Login now
						</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
    <!--===============================================================================================-->
    <script src="{% static 'login/js/main.js' %}"></script>

</body>

</html>