{% load static%}
<aside class="page-sidebar">
            <div class="page-logo">
                <a href="#" class="page-logo-link press-scale-down d-flex align-items-center">
                    <img src="{% static 'theme/img/logo.png' %}" alt="Hodos Analytics" aria-roledescription="logo">
                    <span class="page-logo-text mr-1">Hodos Analytix</span>
                    <!-- <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i> -->
                </a>
            </div>
            <!-- BEGIN PRIMARY NAVIGATION -->
            <nav id="js-primary-nav" class="primary-nav" role="navigation">
                <div class="nav-filter">
                    <div class="position-relative">
                        <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
                        <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                            <i class="fal fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="info-card">
                    <!-- TODO: Change with user avatar -->
                    <img src="{% static 'theme/img/demo/avatars/avatar-admin.png' %}" class="profile-image rounded-circle" alt="{{ active_user.first_name|add:" "|add:active_user.last_name }}">
                    <div class="info-card-text">
                        <a href="#" class="d-flex align-items-center text-white">
                            <span class="text-truncate text-truncate-sm d-inline-block">
                                {{ active_user.email }}
                            </span>
                        </a>
                        <span class="d-inline-block text-truncate text-truncate-sm">{{ active_user.first_name|add:" "|add:active_user.last_name }}</span>
                    </div>
                    <img src="{% static 'theme/img/card-backgrounds/cover-2-lg.png' %}" class="cover" alt="cover">
                    <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
                        <i class="fal fa-angle-down"></i>
                    </a>
                </div>

                <ul id="js-nav-menu" class="nav-menu">
                	<li class="nav-title">Application Intel</li>
                        <!-- TODO set appropriate filter tag values -->
                        <li {% if request.get_full_path == '/dashboard/' %}class="active"{% endif %} {% if '/dashboard/main/' in request.get_full_path %}class="active"{% endif %}>
                            <a href="/" title="Dashboard" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                        <li {% if request.get_full_path == '/dashboard/projects' or '/dashboard/monitoring' in request.get_full_path %}class="active"{% endif %}>
                            <a href="/dashboard/projects" title="Projects Dashboard" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text">Projects</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/finance" title="Finance Analysis" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Finance Analysis</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/entity" title="Entity Analysis" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Entity Analysis</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/arabizi" title="Arabizi Analysis" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Arabizi Analysis</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/reputation" title="Reputation Analysis" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">CX Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/dashboard/topic" title="Topics Analysis" data-filter-tags="application intel analytics dashboard" class=" waves-effect waves-themed">
                                <span class="nav-link-text" data-i18n="nav.application_intel_analytics_dashboard">Topics Analysis</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://desk.zoho.com/portal/hodosanalytix/" title="Customer Support" class="waves-effect waves-themed" target="_blank">
                                <span class="nav-link-text">Customer Support</span>
                            </a>
                        </li>
                </ul>
                <div class="filter-message js-filter-message bg-success-600"></div>
            </nav>
            <!-- END PRIMARY NAVIGATION -->
            <!-- NAV FOOTER -->
            <!-- <div class="nav-footer shadow-top">
                <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
                    <i class="ni ni-chevron-right"></i>
                    <i class="ni ni-chevron-right"></i>
                </a>
                <ul class="list-table m-auto nav-footer-buttons">
                    <li>
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                            <i class="fal fa-comments"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                            <i class="fal fa-life-ring"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                            <i class="fal fa-phone"></i>
                        </a>
                    </li>
                </ul>
            </div>  -->
            <!-- END NAV FOOTER -->
        </aside>