{% extends 'theme/base.html' %} {% load static %} {% block content %} {% load l10n %}
<!-- BEGIN Page Content -->
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item">Twitter</li>
        <li class="breadcrumb-item">Tweets</li>
        <!-- <li class="breadcrumb-item active">Blank</li> -->
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-'></i> Tweets
            <!-- <span class='fw-300'>Title</span> <sup class='badge badge-primary fw-500'>ADDON</sup> -->
            <!-- <small>
                blank description
            </small> -->
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fab fa-twitter fa-2x fa-fw" style="color: #1da1f2"></span>
                        <span class="ml-1">
                        Tweets
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table class="table table-responsive table-stripe table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>User</th>
                                    <th>Twitter-Username</th>
                                    <th>Message</th>
                                    <th>Date and Time</th>
                                    <th>Likes</th>
                                    <th>Language</th>
                                    <th>Crisis</th>
                                    <th>Gender</th>
                                    <th>Intent</th>
                                    <th>Toxic</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments%}
                                <tr>
                                    <td><img src="{{comment.tweet_user_picture}}" class="profile-image rounded-circle" height="20px"></td>
                                    <td>{{ comment.tweet_user_name }}</td>
                                    <td>{{ comment.tweet_user_ScreenName }}</td>
                                    <td>{{ comment.text }}</td>
                                    <td>{% localize on %} {{ comment.created_at }} {% endlocalize %}</td>
                                    <td>{{ comment.likes }}</td>
                                    <td>{{ comment.language }}</td>
                                    <td>{{ comment.crisis }}</td>
                                    <td>{{ comment.gender }}</td>
                                    <td>{{ comment.intent }}</td>
                                    <td>{{ comment.toxic }}</td>
                                </tr>
                                {% if comment.replies %}
                                <tr>
                                    <td colspan="11">
                                    <table class="table table-stripe table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>User</th>
                                                <th>Twitter-username</th>
                                                <th>Message</th>
                                                <th>Date and Time</th>
                                                <th>Likes</th>
                                                <th>Language</th>
                                                <th>Crisis</th>
                                                <th>Gender</th>
                                                <th>Intent</th>
                                                <th>Toxic</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for reply in comment.replies%}
                                            <tr>
                                                <td><img src="{{reply.reply_user_image}}" class="profile-image rounded-circle" height="20px"></td>
                                                <td>{{ reply.reply_user_name }}</td>
                                                <td>{{ reply.reply_user_ScreenName }}</td>
                                                <td>{{ reply.text }}</td>
                                                <td>{% localize on %} {{ reply.created_at }} {% endlocalize %}</td>
                                                <td>{{ reply.likes }}</td>
                                                <td>{{ reply.language }}</td>
                                                <td>{{ reply.crisis }}</td>
                                                <td>{{ reply.gender }}</td>
                                                <td>{{ reply.intent }}</td>
                                                <td>{{ reply.toxic }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                                {% endif%}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END Page Content -->

{% endblock %}