{% load l10n %}

<td colspan="11">
	<div class="pannel">
	    <table class="table  table-stripe table-hover table-bordered collapse">
	        <thead>
	            <tr>
	                <th>Picture</th>
	                <th>Author</th>
	                <th>Message</th>
	                <th>Likes</th>
	                <th>Published At</th>
	                <th>Language</th>
	                <th>Crisis</th>
	                <th>Gender</th>
	                <th>Intent</th>
	                <th>Toxic</th>
	            </tr>
	        </thead>
	        <tbody>
	        	{% for comm in comments%}
	        	<tr>
	        		<td><img src="{{ comm.image }}" height="25px"></td>
		            <td>{{ comm.name }}</td>
		            <td>{{ comm.message }}</td>
		            <td>{{ comm.likes }}</td>
		            <td>{% localize on %} {{ comm.time }} {% endlocalize %}</td>
		            <td>{{ comm.language }}</td>
		            <td>{{ comm.crisis }}</td>
		            <td>{{ comm.gender }}</td>
		            <td>{{ comm.intent }}</td>
		            <td>{{ comm.toxic }}</td>
	        	</tr>
	        	{% endfor %}
	        </tbody>
	    </table>
	</div>
</td>