{% load l10n %}
<table class="table table-stripe table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th colspan="11">{{title}}</th>
        </tr>
        <tr>
            <th>Picture</th>
            <th>Author</th>
            <th>Message</th>
            <th>Likes</th>
            <th>Published At</th>                                
            <th>Language</th>
            <th>Crisis</th>
            <th>Gender</th>
            <th>Intent</th>
            <th>Toxic</th>
        </tr>
    </thead>
    <tbody>
        {% for comm in comments %}
        <tr>
            <td><img src="{{ comm.image }}" height="25px"></td>
            <td>{{ comm.name }}</td>
            <td>{{ comm.message }}</td>
            <td>{{ comm.likes }}</td>
            <td>{% localize on %} {{ comm.time }} {% endlocalize %}</td>
            <td>{{ comm.language }}</td>
            <td>{{ comm.crisis }}</td>
            <td>{{ comm.gender }}</td>
            <td>{{ comm.intent }}</td>
            <td>{{ comm.toxic }}</td>
        </tr>
        {% if comm.replies %}
        <tr>
            <td> <h4 >Replies <i class="far fa-caret-square-right fa-lg fa-fw text-primary"></i></h4 ></td>
            <td colspan="20">
                <table class="table table-stripe table-bordered bg-primary-50">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Author</th>
                            <th>Message</th>
                            <th>Likes</th>
                            <th>Published At</th>                                
                            <th>Language</th>
                            <th>Crisis</th>
                            <th>Gender</th>
                            <th>Intent</th>
                            <th>Toxic</th>
                        </tr>
                    </thead>
                    {% for subcomm in comm.replies%}
                    <tr>
                        <td><img src="{{ subcomm.image }}" height="25px"></td>
                        <td>{{ subcomm.name }}</td>
                        <td>{{ subcomm.message }}</td>
                        <td>{{ subcomm.likes }}</td>
                        <td>{% localize on %} {{ subcomm.time }} {% endlocalize %}</td>
                        <td>{{ subcomm.language }}</td>
                        <td>{{ subcomm.crisis }}</td>
                        <td>{{ subcomm.gender }}</td>
                        <td>{{ subcomm.intent }}</td>
                        <td>{{ subcomm.toxic }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>