{% extends 'theme/base.html' %}
{% load static %}
{% block content %}  
<!-- BEGIN Page Content -->
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item">Youtube</li>
        <!-- <li class="breadcrumb-item">parent_2</li>
        <li class="breadcrumb-item active">Blank</li> -->
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='fab fa-youtube fa-lg fa-fw'  style="color: #c4302b"></i>
            <span class="ml-1"></span>{{Title}}
        </h1>       
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fas fa-film fa-2x" style="color: #c4302b"></span>
                        <span class="ml-1">
                        Video
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table class="table table-stripe table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Published At</th>                                
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for video in videos %}
                                <tr>
                                    <td><img src="{{ video.0 }}" height="25px"></td>
                                    <td>{{ video.1 }}</td>
                                    <td>{{ video.2 }}</td>
                                    <td>{{ video.3 }}</td>
                                    <td>
                                        <button 
                                        class="btn  btn-block btn-outline-primary waves-effect waves-themed"
                                        data-videoid = "{{video.4}}"
                                        onclick="loadData(this)" 
                                        >Load Comments</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="far fa-comments fa-2x" style="color: #c4302b"></span>
                        <span class="ml-1">
                        Comments
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container collapse" id="commentsPanel">
                    <div class="panel-content" id="youtube-comments">
                        <h2>Select a Video to load comments</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END Page Content -->
{% endblock %}
{% block footerjs%}
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script type="text/javascript">
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    function loadData(e){
        $('#commentsPanel').addClass('show')
        vid = e.getAttribute("data-videoid")
        $('#youtube-comments').html('<div class="d-flex justify-content-center"><div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div></div>')
        axios.get(vid+"/")
            .then(function (response) {
            // handle success
            // console.log(response);
            if(response.status == 200)
                $('#youtube-comments').html(response.data)
            })
            .catch(function (error) {
            // handle error
            console.log(error);
            })
            .finally(function () {
            // always executed
            });
    }
</script>
{% endblock %}