{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Opps!Page does not Exists</title>
	<meta name="description" content="Blank">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
        <!-- Call App Mode on ios devices -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Remove Tap Highlight on Windows Phone IE -->
        <meta name="msapplication-tap-highlight" content="no">
        <!-- base css -->
        <link rel="stylesheet" media="screen, print" href="{% static 'theme/css/vendors.bundle.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'theme/css/app.bundle.css'%}">
        <!-- Font Awesome icons -->
        <link rel="stylesheet" media="screen, print" href="{% static 'theme/css/fa-brands.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'theme/css/fa-regular.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'theme/css/fa-solid.css' %}">
        <!-- Place favicon.ico in the root directory -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'theme/img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'theme/img/favicon/favicon-32x32.png' %}">
        <link rel="mask-icon" href="{% static 'theme/img/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
</head>
<body>
	<div class="page-wrapper">
    	<div class="page-inner">
    		<div class="page-content-wrapper">
    			<main class="card text-center">
	    			<h1>Page Not Found!</h1>
	    		</main>
	    	</div>
	    </div>
	</div>
</body>
	<script src="{% static 'theme/js/vendors.bundle.js' %}"></script>
        <script src="{% static 'theme/js/app.bundle.js' %}"></script>
        <!-- <script src="{% static 'theme/js/../script.js' %}"></script> -->
        <script>
            $(document).ready(function() {

            });

        </script>
</html>