{% extends 'theme/base.html' %}
{% load static %}


{% block content%}
<style>
	.cSoon{
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		display:inline-block;
	}
</style>
<main id="js-page-content" role="main" class="page-content">
	<div class="cSoon">
		<h1 class="cSoontext">Coming Soon!</h1>
	</div>
</main>
{% endblock %}