{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN Page Content -->
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
            <li class="breadcrumb-item">{{ pid }}</li>
            <!-- <li class="breadcrumb-item">parent_2</li>
            <li class="breadcrumb-item active">Blank</li> -->
        </ol>
        <div class="subheader">
            <h1 class="subheader-title">
                <i class='subheader-icon fal fa-'></i> Post and Comments
                <!-- <span class='fw-300'>Title</span> <sup class='badge badge-primary fw-500'>ADDON</sup> -->
                <!-- <small>
                    blank description
                </small> -->
            </h1>
            <!-- TODO : replace pid with page name -->
            <div class="subheader-block">
                <button id="createPoject" class="btn btn-primary"> Create Project</button>
            </div>
            <!-- <div class="subheader-block">
                Right content of header
            </div> -->
        </div>
        <!-- <div class="alert alert-primary">
            <div class="d-flex flex-start w-100">
                <div class="mr-2 hidden-md-down">
                    <span class="icon-stack icon-stack-lg">
                        <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
                        <i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
                        <i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
                    </span>
                </div>
                <div class="d-flex flex-fill">
                    <div class="flex-fill">
                        <span class="h5">About</span>
                        <p>Points.</p>
                        <p class="m-0">
                            Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xl-12">
                <div class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fab fa-facebook fa-2x fa-fw" style="color: #3b5998"></span>
                            <span class="ml-1">
                        Posts
                        </span>
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                                    data-offset="0,10" data-original-title="Collapse"></button>
                        </div>
                    </div>
                    <div class="panel-container show">
                        <div class="panel-content">
                            <table class="table table-stripe table-hover table-bordered table-sm m-0 table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        Select All
                                        <div class="custom-control custom-checkbox">
                                            <input name="posts" type="checkbox" id="selectAll"
                                                   class="custom-control-input">
                                            <label for="selectAll" class="custom-control-label"></label>
                                        </div>
                                    </th>
                                    <th>Posted By</th>
                                    <th>Content</th>
                                    <th>Date and Time</th>
                                    <th>Image</th>
                                    <th>Likes</th>
                                    <th>Shares</th>
                                    <th>Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for post in posts %}
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input name="posts" type="checkbox" id="{{ post.7 }}"
                                                       class="custom-control-input">
                                                <label for="{{ post.7 }}" class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>{{ post.0 }}</td>
                                        <td>{{ post.1 }}</td>
                                        <td>{{ post.2 }}</td>
                                        <td><img src="{{ post.3 }}" height="25px"></td>
                                        <td>{{ post.4 }}</td>
                                        <td>{{ post.5 }}</td>
                                        <td>{{ post.6 }} <a href="{% url 'fbcomments' post.7 %}"><i
                                                style="color:var(color-primar,#fff)"
                                                class="fas fa-external-link-alt"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- END Page Content -->

{% endblock %}

{% block footerjs %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
    <script>

        jQuery.ajaxSetup({async: true});

        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": function () {
                toastr.clear()
            },
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        // Select All
        $("#selectAll").click(function () {
            $("input[type=checkbox]").prop('checked', $(this).prop('checked'));
        });

        $('#createPoject').click(function () {

            // Get all checked posts
            var all_checked_posts = document.querySelectorAll('input[name="posts"]:checked');

            // At least one post
            if (all_checked_posts.length < 1) {
                toastr.error('Please select at least one post.', 'Human error')
            }

            if (all_checked_posts.length > 0) {

                // contain projects
                Swal.fire({
                    title: 'Create new project',
                    //input: 'text',
                    //inputPlaceholder: "Enter your project name",
                    //inputAttributes: {
                    //  autocapitalize: 'off'
                    //},
                    html: '<input id="pro_title" name="pro_title" class="swal2-input">',
                    showCancelButton: true,
                    confirmButtonText: 'Create',
                    showLoaderOnConfirm: true,
                    preConfirm: function () {
                        pro_title = $("#pro_title").val();

                        // Validation
                        if (pro_title === false) return false;

                        if (pro_title === "") {
                            Swal.showValidationMessage(
                                `Project must have a NAME`
                            );
                            return false
                        }


                    },
                    allowOutsideClick: () => !Swal.isLoading()

                }).then((result) => {
                    if (result.value) {
                        // Do here on success

                        var aIds = [];

                        for (var x = 0, l = all_checked_posts.length; x < l; x++) {
                            aIds.push(all_checked_posts[x].id);
                        }

                        var str = aIds.join(', ');

                        console.log(str);

                        // Execute operation
                        axios({
                            method: 'POST',
                            url: '/dashboard/create_project',
                            data: {
                                'title': pro_title,
                                'post_ids': aIds
                            },
                        }).then(function (response) {
                            // alert
                            swal.fire({
                                //confirm failed record save:
                                text: 'Your project has been created.',
                                type: 'success',
                            }).then(function () {

                                // handle redirection
                                window.location = '/dashboard/projects'
                            });

                            console.log(response)
                        }).catch(function (error) {
                            swal.fire({
                                //confirm failed record save:
                                text: 'Something goes wrong, Try again!',
                                type: 'error',
                            })

                            console.log(error)
                        });


                    }
                })

            }
        });
    </script>
{% endblock %}
