{% extends 'theme/base.html' %}
{% load static %}
{% block content %}
      
<!-- BEGIN Page Content -->
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item">{{ pageid}}</li>
        <li class="breadcrumb-item">{{pid}}</li>
        <!-- <li class="breadcrumb-item active">Blank</li> -->
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-'></i> Post and Comments
            <!-- <span class='fw-300'>Title</span> <sup class='badge badge-primary fw-500'>ADDON</sup> -->
            <!-- <small>
                blank description
            </small> -->
        </h1>
        <!-- TODO : replace pid with page name -->
        <h2 class="subheader-block"> {{pid}}</h2>
        <!-- <div class="subheader-block">
            Right content of header
        </div> -->
    </div>
    <!-- <div class="alert alert-primary">
        <div class="d-flex flex-start w-100">
            <div class="mr-2 hidden-md-down">
                <span class="icon-stack icon-stack-lg">
                    <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
                    <i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
                    <i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
                </span>
            </div>
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <span class="h5">About</span>
                    <p>Points.</p>
                    <p class="m-0">
                        Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <span class="fab fa-facebook fa-2x fa-fw" style="color: #3b5998"></span>
                        <span class="ml-1">
                        Posts
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table class="table table-stripe table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Comment By</th>
                                    <th>Message</th>
                                    <th>Date and Time</th>
                                    <th>Likes</th>
                                    <th>Language</th>
                                    <th>Crisis</th>
                                    <th>Gender</th>
                                    <th>Intent</th>
                                    <th>Toxic</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in comments%}
                                <tr>
                                    <td><img src="{{comment.3}}" class="profile-image rounded-circle">{{ comment.0 }}</td>
                                    <td>{{ comment.1 }}</td>
                                    <td>{{ comment.2 }}</td>
                                    <td>{{ comment.4 }}</td>
                                    <td>{{ comment.5 }}</td>
                                    <td>{{ comment.6 }}</td>
                                    <td>{{ comment.7 }}</td>
                                    <td>{{ comment.8 }}</td>
                                    <td>{{ comment.9 }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- END Page Content -->

{% endblock %}