{% extends 'theme/base.html' %} {% load static %} {% csrf_token %} {% load l10n %} {% block content %}
<!-- BEGIN Page Content -->
<meta name="google-site-verification" content="xSXZqg43CiJrXiq4cnr2K09C0ONnhlR5PWhTDr1mmIg" />
<!-- the #js-page-content id is needed for some plugins to initialize -->
<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <!-- <li class="breadcrumb-item">parent_1</li>
        <li class="breadcrumb-item">parent_2</li>
        <li class="breadcrumb-item active">Blank</li> -->
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-'></i> Dashboard
            <!-- <span class='fw-300'>Title</span> <sup class='badge badge-primary fw-500'>ADDON</sup> -->
            <!-- <small>
                blank description
            </small> -->
        </h1>
        <!-- <div class="subheader-block">
            Right content of header
        </div> -->
    </div>
    <!-- <div class="alert alert-primary">
        <div class="d-flex flex-start w-100">
            <div class="mr-2 hidden-md-down">
                <span class="icon-stack icon-stack-lg">
                    <i class="base base-6 icon-stack-3x opacity-100 color-primary-500"></i>
                    <i class="base base-10 icon-stack-2x opacity-100 color-primary-300 fa-flip-vertical"></i>
                    <i class="ni ni-blog-read icon-stack-1x opacity-100 color-white"></i>
                </span>
            </div>
            <div class="d-flex flex-fill">
                <div class="flex-fill">
                    <span class="h5">About</span>
                    <p>Points.</p>
                    <p class="m-0">
                        Find in-depth, guidelines, tutorials and more on Addon's <a href="#" target="_blank">Official Documentation</a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <i class="fab fa-facebook fa-2x fa-fw" style="color: #3b5998"></i>
                        <span class="ml-2"></span> Facebook
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        {% if fb_data %}
                        <!-- BEGIN Account Card -->
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-6a" aria-expanded="true">
                                    <div class="d-flex flex-row ">
                                        <span class="mr-2">
                                    <img src="{{ fb_data.user.image}}" class="rounded-circle profile-image" alt="{{ fb_data.user.name }}">
                                </span>
                                        <div class="info-card-text">
                                            <div class="text-truncate text-truncate-lg">{{ fb_data.user.name }}</div>
                                            <span class="text-truncate text-truncate-md">{{fb_data.user.email}}</span>
                                        </div>
                                    </div>
                                    <!-- <span class="ml-auto align-self-start">
                                <span class="collapsed-reveal">
                                    <i class="fal fa-chevron-up fs-xl"></i>
                                </span>
                                <span class="collapsed-hidden">
                                    <i class="fal fa-chevron-down fs-xl"></i>
                                </span>
                            </span> -->
                                </div>
                            </div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr style="text-align: center">
                                        <th colspan="6"><b>Pages</b></th>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Category</th>
                                        <th>Fetched Posts</th>
                                        <th>Last Data Fetch</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for page in fb_data.pages %}
                                    <tr>
                                        <td>{{ page.0 }}</td>
                                        <td>{{ page.1 }}</td>
                                        <td>{{ page.4 }}</td>
                                        <td>
                                            {% localize on %} {{ page.5 }} {% endlocalize %}
                                        </td>
                                        <td>
                                            <button class="btn  btn-block btn-outline-success waves-effect waves-themed" data-fb-postid="{{page.3}}" onClick="startCronJob(this)">Start Fetch</button>
                                        </td>
                                        <td><a class="btn btn-block btn-outline-primary waves-effect waves-themed" href="{% url 'main' page.3 %}">See Data</a></td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Account Card -->
                        {% else %}
                        <button class="btn btn-primary" onClick="facebook_connect()">Add Account</button> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <i class="fab fa-twitter fa-2x fa-fw" style="color: #1da1f2"></i>
                        <span class="ml-2"></span> Twitter
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        {% if tw_data%}
                        <!-- CARD BEGINING -->
                        <div class="card">
                            <div class="card-header">
                                
                                

                                <div class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-6a" aria-expanded="true">
                                    <span class="mr-2">
                                        <img src="{{ tw_data.user.image}}" class="rounded-circle profile-image" alt="{{ fb_data.user.name }}">
                                    </span>
                                    <div class="info-card-text">
                                        <div class="text-truncate text-truncate-lg">{{ tw_data.user.name }}</div>
                                        <span class="text-truncate text-truncate-md">@{{ tw_data.user.name }}</span>
                                    </div>
                                    <div class="info-card-text text-truncate text-truncate-lg"></div>

                                </div>
                            </div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Total Tweets</th>
                                        <th>Last Data Fetch</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for page in tw_data.tweets %}
                                    <tr>
                                        <td>{{ page.0 }}</td>
                                        <td>
                                            {% localize on %} {{page.1}} {% endlocalize %}
                                        </td>
                                        <td>
                                            <button class="btn  btn-block btn-outline-success waves-effect waves-themed" data-fb-postid="{{page.1}}" onClick="">Start Fetch</button>
                                        </td>
                                        <td><a class="btn btn-block btn-outline-primary waves-effect waves-themed" href="{% url 'tweets' page.2 %}">See Data</a></td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Account Card -->
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'twitter_auth' %}">Add Account</a> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <i class="fab fa-youtube fa-2x fa-fw" style="color: #c4302b"></i>
                        <span class="ml-2"></span> Youtube
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        {% if yt_data%}
                        <!-- BEGIN Account Card -->
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-6a" aria-expanded="true">
                                    <span class="mr-2">
                                    <img src="{{ yt_data.user.image}}" class="rounded-circle profile-image" alt="{{ fb_data.user.name }}">
                                </span>
                                    <div class="info-card-text text-truncate text-truncate-lg">{{ yt_data.user.name }}</div>

                                </div>
                            </div>
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr style="text-align: center">
                                        <th colspan="6"><b>Channels</b></th>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Total Videos</th>
                                        <th>Last Data Fetch</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for page in yt_data.channels %}
                                    <tr>
                                        <td>
                                            {% if page.2%}
                                            <img src="{{ page.2}}" class="rounded-circle profile-image" alt="{{ page.0 }}"> {% endif %} {{ page.0 }}
                                        </td>
                                        <td>{{ page.1 }}</td>
                                        <td>{{ page.4 }}</td>
                                        <td>
                                        </td>
                                        <td>
                                            <button class="btn  btn-block btn-outline-success waves-effect waves-themed" data-fb-postid="{{page.3}}" onClick="startCronJob(this)" disabled="true">Start Fetch</button>
                                        </td>
                                        <td>
                                            <a class="btn  btn-block btn-outline-primary waves-effect waves-themed" href="{% url 'youtubedata'  page.3 %}">Show Data</a>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                        <!-- End Account Card -->
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'youtube_auth' %}">Add Account</a> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        <i class="fab fa-instagram fa-2x fa-fw" style="color: #E1306C"></i>
                        <span class="ml-2"></span> Instagram
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        {% if instagram_data%} {% else %}
                        <button class="btn btn-primary">Add Account</button> {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- END Page Content -->

{% endblock %} {% block footerjs %}
<script src="https://connect.facebook.net/en_US/sdk.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId: "188312881935144",
            autoLogAppEvents: true,
            xfbml: true,
            version: "v3.3"
        });
    };
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

    function facebook_connect() {
        FB.login(
            function(response) {
                console.log(response);
                axios
                    .post("/dashboard/usertoken", {
                        token: response.authResponse.accessToken
                    })
                    .then(resp => {
                        console.log(resp);
                        Swal.fire({
                            type: "success",
                            title: "Loading Data",
                            timer: 15000
                        })
                        location.reload();
                    })
                    .catch(resp => {
                        console.log(resp.response);
                    });
            }, {
                scope: "public_profile,email,manage_pages,read_insights"
            }
        );
    }

    function startCronJob(d) {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": function() {
                toastr.clear()
            },
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        axios.post("{% url 'cronjobFB' %}", {
                pageid: d.getAttribute("data-fb-postid")
            })
            .then(resp => {
                console.log(resp.data);
                toastr.success(resp.data.Response)
            }).catch(resp => {
                console.log(resp.response);
            });
        // $.post( "{% url 'cronjobFB' %}", function( data ) {
        //   toastr.success(data)
        // });

    }
</script>
{% endblock%}