{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN Page Content -->
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">
        <!-- Filter -->

        <ol class="breadcrumb page-breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);">Sentiment Analysis</a></li>
            <li class="ml-5">
                <input type="text" class="form-control" id="datepicker-1" readonly placeholder="Filter by date">
            </li>
            <li class="ml-5 form-group">
                <select class="form-control">
                    <option value="volvo">Filter by Language</option>
                    <option value="volvo">English</option>
                    <option value="saab">French</option>
                    <option value="mercedes">Spanish</option>
                    <option value="audi">Arabic</option>
                    <option value="audi">Arabizi</option>
                    <option value="audi">Italian</option>
                </select>
            </li>
            <li class="ml-5">{{ test }}</li>
            <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
        </ol>

        <!-- ./Filter -->
        <!-- Analytic top bars -->
        <div class="subheader">
            <h1 class="subheader-title">
                <i class="subheader-icon fal fa-chart-area"></i> Monotring <span class="fw-300">Dashboard</span>
                <small>
                </small>
            </h1>
            <div>
                <div class="row">
                    <div class="col-6 col-xl-4 d-sm-flex align-items-center">
                        <div class="p-0 rounded">
                            <h4 class="font-weight-bold mb-0">37.56%</h4>
                            <span class="peity-bar"
                                  data-peity="{&quot;fill&quot;: [&quot;#079&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }"
                                  style="display: none;">3,4,5,8,2</span>
                            <svg class="peity" height="27" width="27">
                                <rect data-value="3" fill="#079" x="0.54" y="16.875" width="4.32"
                                      height="10.125"></rect>
                                <rect data-value="4" fill="#079" x="5.94" y="13.5" width="4.319999999999999"
                                      height="13.5"></rect>
                                <rect data-value="5" fill="#079" x="11.34" y="10.125" width="4.32"
                                      height="16.875"></rect>
                                <rect data-value="8" fill="#079" x="16.740000000000002" y="0" width="4.319999999999997"
                                      height="27"></rect>
                                <rect data-value="2" fill="#079" x="22.139999999999997" y="20.25"
                                      width="4.320000000000004" height="6.75"></rect>
                            </svg>
                            <div>
                                <label class="fs-sm">Positive Last 30 Days</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-xl-4 d-sm-flex align-items-center">
                        <div class="p-0 rounded">
                            <h4 class="font-weight-bold mb-0">37.56%</h4>
                            <span class="peity-bar"
                                  data-peity="{&quot;fill&quot;: [&quot;#900&quot;], &quot;width&quot;: 27, &quot;height&quot;: 27 }"
                                  style="display: none;">3,4,5,8,2</span>
                            <svg class="peity" height="27" width="27">
                                <rect data-value="3" fill="#900" x="0.54" y="16.875" width="4.32"
                                      height="10.125"></rect>
                                <rect data-value="4" fill="#900" x="5.94" y="13.5" width="4.319999999999999"
                                      height="13.5"></rect>
                                <rect data-value="5" fill="#900" x="11.34" y="10.125" width="4.32"
                                      height="16.875"></rect>
                                <rect data-value="8" fill="#900" x="16.740000000000002" y="0" width="4.319999999999997"
                                      height="27"></rect>
                                <rect data-value="2" fill="#900" x="22.139999999999997" y="20.25"
                                      width="4.320000000000004" height="6.75"></rect>
                            </svg>
                            <div>
                                <label class="fs-sm mb-0">Negative Last 30 Days</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Analytic top bars -->
        <!-- Stats --->
        <div class="row">
            <div class="col-sm-3 col-xl-3">
                <div class="p-2 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">
                    <div class="">
                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                            {{ c_count }}
                            <small class="m-0 l-h-n">Number of comments</small>
                        </h3>
                    </div>
                    <i class="fal fa-user position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1"
                       style="font-size:6rem"></i>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="p-2 bg-warning-400 rounded overflow-hidden position-relative text-white mb-g">
                    <div class="">
                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                            {{ senti.0 }}
                            <small class="m-0 l-h-n">Positive</small>
                        </h3>
                    </div>
                    <i class="fal fa-gem position-absolute pos-right pos-bottom opacity-15  mb-n1 mr-n4"
                       style="font-size: 6rem;"></i>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="p-2 bg-success-200 rounded overflow-hidden position-relative text-white mb-g">
                    <div class="">
                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                            {{ senti.1 }}
                            <small class="m-0 l-h-n">Negative</small>
                        </h3>
                    </div>
                    <i class="fal fa-lightbulb position-absolute pos-right pos-bottom opacity-15 mb-n5 mr-n6"
                       style="font-size: 8rem;"></i>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3">
                <div class="p-2 bg-info-200 rounded overflow-hidden position-relative text-white mb-g">
                    <div class="">
                        <h3 class="display-4 d-block l-h-n m-0 fw-500">
                            {{ senti.2 }}
                            <small class="m-0 l-h-n">Neutral</small>
                        </h3>
                    </div>
                    <i class="fal fa-globe position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n4"
                       style="font-size: 6rem;"></i>
                </div>
            </div>
        </div>
        <!-- ./Stats --->
        <!-- Bars chart -->
        <div class="row">
            <div class="col-6">
                <div id="panel-3" class="panel panel-locked" data-panel-sortable data-panel-collapsed data-panel-close>
                    <div class="panel-container show">
                        <div class="panel-content poisition-relative">
                            <div class="panel-container show">
                                <div class="panel-content poisition-relative">
                                    <div id="flotVisit" style="width:100%; height:208px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="panel-6" class="panel">
                    <div class="panel-container show">
                        <div class="panel-content">
                            <div class="row  mb-g">
                                <div class="col-md-6 d-flex align-items-center">
                                    <div id="flotPie" class="w-100" style="height:210px"></div>
                                </div>
                                <div class="col-md-6 col-lg-5 mr-lg-auto">
                                    <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                        Positive
                                    </div>
                                    <div class="progress progress-xs mb-3">
                                        <div class="progress-ba bg-warning-200" role="progressbar"
                                             style="width: {{ senti.0 }}0%;"
                                             aria-valuenow="{{ senti.0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                        Negative
                                    </div>
                                    <div class="progress progress-xs mb-3">
                                        <div class="progress-bar bg-success-200" role="progressbar"
                                             style="width: {{ senti.1 }}0%;"
                                             aria-valuenow="{{ senti.1 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="d-flex mt-2 mb-1 fs-xs text-warning">
                                        Neutral
                                    </div>
                                    <div class="progress progress-xs mb-3">
                                        <div class="progress-bar bg-info-200" role="progressbar"
                                             style="width: {{ senti.2 }}0%;"
                                             aria-valuenow="{{ senti.2 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./Bars chart -->
        <!-- User Access section -->
        <div class="row">
            <div class="col-sm-9 col-md-4 d-flex align-items-center justify-content-start">
                <div id="dt-basic-example_filter" class="dataTables_filter"><label>
                    <input type="search"
                           class="form-control border-top-left-radius-0 border-bottom-left-radius-0 ml-0 width-lg shadow-inset-1"
                           placeholder="Search" aria-controls="dt-basic-example"></label></div>
            </div>
            <div class="col-sm-12 col-md-8 d-flex align-items-center justify-content-end">
                <div class="dt-buttons">
                    <div class="btn-group">
                        <button class="btn buttons-collection buttons-colvis btn-outline-default"
                                tabindex="0" aria-controls="dt-basic-example" type="button"
                                title="Col visibility" aria-haspopup="true" aria-expanded="false">
                            <span>Generate PDF</span>
                        </button>
                        <button class="btn buttons-collection dropdown-toggle buttons-colvis btn-outline-default"
                                tabindex="0" aria-controls="dt-basic-example" type="button"
                                title="Col visibility" aria-haspopup="true" aria-expanded="false"><span>Column Visibility</span>
                        </button>
                    </div>
                    <button class="btn buttons-csv buttons-html5 btn-outline-default" tabindex="0"
                            aria-controls="dt-basic-example" type="button" title="Generate CSV"><span>CSV</span>
                    </button>
                    <button class="btn buttons-copy buttons-html5 btn-outline-default" tabindex="0"
                            aria-controls="dt-basic-example" type="button" title="Copy to clipboard">
                        <span>Copy</span></button>
                    <button class="btn buttons-print btn-outline-default" tabindex="0"
                            aria-controls="dt-basic-example" type="button" title="Print Table"><span><i
                            class="fal fa-print"></i></span></button>
                </div>
            </div>
        </div>
        <!-- ./ User Access section -->
        <!-- User personalized -->
        <div class="row">
            <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-end mt-3">
                <div class="card mb-g">
                    <div class="card-body pb-0 px-4">
                        <h6 class="ui-sortable-handle text-left"><b>Filter: By Campaign | By Sentiment | By
                            Gender | By Topic</b></h6>
                        {% for post in posts %}
                            <div class="d-flex flex-row pb-3 pt-2  border-top-0 border-left-0 border-right-0">
                                <div class="d-inline-block align-middle status status-success mr-3">
                                <span class="profile-image rounded-circle d-block"
                                      style="background-image:url({{ fb_token_data.fb_user_picture }}); background-size: cover;"></span>
                                </div>
                                <h5 class="mb-0 flex-1 text-dark fw-500">
                                    {{ post.post_user_name }}
                                    <small class="m-0 l-h-n">
                                        Human Resources &amp; Psychiatry Division
                                    </small>
                                </h5>
                                <span class="text-muted fs-xs opacity-70">
                                                {{ post.created_at }}
                                            </span>
                            </div>
                            <div class="pb-3 pt-2 border-top-0 border-left-0 border-right-0 text-muted">
                                {{ post.message }}
                            </div>
                            <div class="d-flex align-items-center demo-h-spacing py-3">
                                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                                    <i class="fas fa-heart fs-xs mr-1 text-danger"></i>
                                    <span>{{ post.likes }} Likes</span>
                                </a>
                                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-dark">
                                    <i class="fal fa-comment fs-xs mr-1"></i>
                                    <span>{{ post.commentcount }} Comments</span>
                                </a>
                                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-success">
                                    <i class="fas fa-thumbs-up"></i> <span>&nbsp;{{ post.likes }}</span>
                                </a>
                                <a href="javascript:void(0);" class="d-inline-flex align-items-center text-info">
                                    <i class="fas fab fa-globe"></i> <span>&nbsp;facebook.com</span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-body py-0 px-4 border-faded border-right-0 border-bottom-0 border-left-0">
                        <div class="d-flex flex-column align-items-center">
                            <!-- comment -->
                            <div class="d-flex flex-row w-100 py-4">
                                <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                    <span class="profile-image profile-image-md rounded-circle d-block mt-1"
                                          style="background-image:url('{% static 'theme/img/demo/avatars/avatar-c.png' %}'); background-size: cover;"></span>
                                </div>
                                <div class="mb-0 flex-1 text-dark">
                                    <div class="d-flex">
                                        <a href="javascript:void(0);" class="text-dark fw-500">
                                            Test name
                                        </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                            15 minutes
                                                        </span>
                                    </div>
                                    <p class="mb-0">
                                        Excellent work, looking forward to it.
                                    </p>
                                    <a href="#" class="btn btn-sm float-right bg-info">Reply</a>
                                </div>
                            </div>
                            <hr class="m-0 w-100">
                            <!-- comment end -->
                            <!-- comment -->
                            <div class="d-flex flex-row w-100 py-4">
                                <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                    <span class="profile-image profile-image-md rounded-circle d-block mt-1"
                                          style="background-image:url('{% static 'theme/img/demo/avatars/avatar-admin.png' %}'); background-size: cover;"></span>
                                </div>
                                <div class="mb-0 flex-1 text-dark">
                                    <div class="d-flex">
                                        <a href="javascript:void(0);" class="text-dark fw-500">
                                            Dr. Codex Lantern
                                        </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                            3 minutes
                                                        </span>
                                    </div>
                                    <a href="#" class="btn btn-sm float-right bg-info">Reply</a>

                                    <p class="mb-0">
                                        Congrats mate!
                                    </p>
                                    <div class="pl-0 d-flex flex-row w-100 pb-0 pt-4">
                                        <div class="d-inline-block align-middle status status-sm status-success mr-3">
                                            <span class="profile-image profile-image-md rounded-circle d-block mt-1"
                                                  style="background-image:url('{% static 'theme/img/demo/avatars/avatar-e.png' %}'); background-size: cover;"></span>
                                        </div>
                                        <div class="mb-0 flex-1 text-dark">
                                            <div class="d-flex">
                                                <a href="javascript:void(0);" class="text-dark fw-500">
                                                    Dr. John Cook PhD
                                                </a><span class="text-muted fs-xs opacity-70 ml-auto">
                                                                    30 seconds
                                                                </span>
                                            </div>
                                            <p class="mb-0">
                                                Thanks!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="m-0 w-100">
                            <!-- comment end -->
                            <!-- add comment -->
                            <div class="py-3 w-100">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="dt-basic-example_info" role="status"
                                         aria-live="polite">Showing 1
                                        to 10 of 100 entries
                                    </div>
                                </div>
                            </div>
                            <!-- add comment end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-3">
                <div id="panel-6" class="panel p-3">
                    <h6><b>Sentiment by Gender</b></h6>
                    <div class="subheader">
                        <div class="d-flex mr-4">
                            <div class="mr-2">
                                <span class="peity-donut"
                                      data-peity="{ &quot;fill&quot;: [&quot;#967bbd&quot;, &quot;#ccbfdf&quot;],  &quot;innerRadius&quot;: 14, &quot;radius&quot;: 20 }"
                                      style="display: none;">{{ female }}/{{ male|add:female }}</span>
                                <svg class="peity" height="40" width="40">
                                </svg>
                            </div>
                            <div>
                                <label class="fs-sm mb-0 mt-2 mt-md-0">Female</label>
                                <h4 class="font-weight-bold mb-0">{{ female|floatformat:2 }} %</h4>
                            </div>
                        </div>
                        <div class="d-flex mr-0">
                            <div class="mr-2">
                                <span class="peity-donut"
                                      data-peity="{ &quot;fill&quot;: [&quot;#2196F3&quot;, &quot;#9acffa&quot;],  &quot;innerRadius&quot;: 14, &quot;radius&quot;: 20 }"
                                      style="display: none;">{{ male }}/{{ male|add:female }}</span>
                                <svg class="peity" height="40" width="40">
                                </svg>
                            </div>
                            <div>
                                <label class="fs-sm mb-0 mt-2 mt-md-0">Male</label>
                                <h4 class="font-weight-bold mb-0">{{ male|floatformat:2 }} %</h4>
                            </div>
                        </div>
                    </div>
                    <!-- data -->
                    <h6>Sentiment by Topics</h6>
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mr-lg-auto">
                            <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                Transferred
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                Bugs Squashed
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-info-500" role="progressbar" style="width: 30%;"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-warning">
                                user Testing
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-warning-500" role="progressbar" style="width: 40%;"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                Transferred
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                Bugs Squashed
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-info-500" role="progressbar" style="width: 30%;"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-warning">
                                user Testing
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-warning-500" role="progressbar" style="width: 40%;"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                Transferred
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                Bugs Squashed
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-info-500" role="progressbar" style="width: 30%;"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="d-flex mt-2 mb-1 fs-xs text-info">
                                Bugs Squashed
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar bg-info-500" role="progressbar" style="width: 30%;"
                                     aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="d-flex mt-2 mb-1 fs-xs text-primary">
                                Transferred
                            </div>
                            <div class="progress progress-xs mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 60%;"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="dt-basic-example_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="dt-basic-example_previous">
                                    <a
                                            href="#" aria-controls="dt-basic-example" data-dt-idx="0" tabindex="0"
                                            class="page-link"><i class="fal fa-chevron-left"></i></a></li>
                                <li class="paginate_button page-item active"><a href="#"
                                                                                aria-controls="dt-basic-example"
                                                                                data-dt-idx="1" tabindex="0"
                                                                                class="page-link">1</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dt-basic-example"
                                                                          data-dt-idx="2" tabindex="0"
                                                                          class="page-link">2</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dt-basic-example"
                                                                          data-dt-idx="2" tabindex="0"
                                                                          class="page-link">3</a></li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dt-basic-example"
                                                                          data-dt-idx="2" tabindex="0"
                                                                          class="page-link">4</a></li>
                                <li class="paginate_button page-item disabled" id="dt-basic-example_ellipsis"><a
                                        href="#"
                                        aria-controls="dt-basic-example"
                                        data-dt-idx="6"
                                        tabindex="0"
                                        class="page-link">…</a>
                                </li>
                                <li class="paginate_button page-item "><a href="#" aria-controls="dt-basic-example"
                                                                          data-dt-idx="7" tabindex="0"
                                                                          class="page-link">10</a></li>
                                <li class="paginate_button page-item next" id="dt-basic-example_next"><a href="#"
                                                                                                         aria-controls="dt-basic-example"
                                                                                                         data-dt-idx="8"
                                                                                                         tabindex="0"
                                                                                                         class="page-link"><i
                                        class="fal fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- -->

                </div>
            </div>
        </div>
        <!-- ./ User personalized -->
    </main>
{% endblock %}
{% block footerjs %}
    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
    <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
    <script src="{% static 'theme/js/statistics/peity/peity.bundle.js' %} "></script>
    <script src="{% static 'theme/js/statistics/flot/flot.bundle.js' %}"></script>
    <script src="{% static 'theme/js/statistics/easypiechart/easypiechart.bundle.js' %}"></script>
    <script src="{% static 'theme/js/datagrid/datatables/datatables.bundle.js' %}"></script>
    <script src="{% static 'theme/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>

    <script>
        /* defined datas */
        var dataTargetProfit = [
            [1354586000000, 153],
            [1364587000000, 658],
            [1374588000000, 198],
            [1384589000000, 663],
            [1394590000000, 801],
            [1404591000000, 1080],
            [1414592000000, 353],
            [1424593000000, 749],
            [1434594000000, 523],
            [1444595000000, 258],
            [1454596000000, 688],
            [1464597000000, 364]
        ]
        var dataProfit = [
            [1354586000000, 53],
            [1364587000000, 65],
            [1374588000000, 98],
            [1384589000000, 83],
            [1394590000000, 980],
            [1404591000000, 808],
            [1414592000000, 720],
            [1424593000000, 674],
            [1434594000000, 23],
            [1444595000000, 79],
            [1454596000000, 88],
            [1464597000000, 36]
        ]
        var dataSignups = [
            [1354586000000, 647],
            [1364587000000, 435],
            [1374588000000, 784],
            [1384589000000, 346],
            [1394590000000, 487],
            [1404591000000, 463],
            [1414592000000, 479],
            [1424593000000, 236],
            [1434594000000, 843],
            [1444595000000, 657],
            [1454596000000, 241],
            [1464597000000, 341]
        ]
        var dataSet1 = [
            [0, 10],
            [100, 8],
            [200, 7],
            [300, 5],
            [400, 4],
            [500, 6],
            [600, 3],
            [700, 2]
        ];
        var dataSet2 = [
            [0, 9],
            [100, 6],
            [200, 5],
            [300, 3],
            [400, 3],
            [500, 5],
            [600, 2],
            [700, 1]
        ];

        $(document).ready(function () {

            /* init datatables */
            $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Column Visibility',
                            titleAttr: 'Col visibility',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copy',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fal fa-print"></i>',
                            titleAttr: 'Print Table',
                            className: 'btn-outline-default'
                        }

                    ],
                    columnDefs: [
                        {
                            targets: -1,
                            title: '',
                            orderable: false,
                            render: function (data, type, full, meta) {

                                /*
                                -- ES6
                                -- convert using https://babeljs.io online transpiler
                                return `
                                <a href='javascript:void(0);' class='btn btn-sm btn-icon btn-outline-danger rounded-circle mr-1' title='Delete Record'>
                                    <i class="fal fa-times"></i>
                                </a>
                                <div class='dropdown d-inline-block dropleft '>
                                    <a href='#'' class='btn btn-sm btn-icon btn-outline-primary rounded-circle shadow-0' data-toggle='dropdown' aria-expanded='true' title='More options'>
                                        <i class="fal fa-ellipsis-v"></i>
                                    </a>
                                    <div class='dropdown-menu'>
                                        <a class='dropdown-item' href='javascript:void(0);'>Change Status</a>
                                        <a class='dropdown-item' href='javascript:void(0);'>Generate Report</a>
                                    </div>
                                </div>`;

                                ES5 example below:

                                */
                                return "\n\t\t\t\t\t\t<a href='javascript:void(0);' class='btn btn-sm btn-icon btn-outline-danger rounded-circle mr-1' title='Delete Record'>\n\t\t\t\t\t\t\t<i class=\"fal fa-times\"></i>\n\t\t\t\t\t\t</a>\n\t\t\t\t\t\t<div class='dropdown d-inline-block dropleft'>\n\t\t\t\t\t\t\t<a href='#'' class='btn btn-sm btn-icon btn-outline-primary rounded-circle shadow-0' data-toggle='dropdown' aria-expanded='true' title='More options'>\n\t\t\t\t\t\t\t\t<i class=\"fal fa-ellipsis-v\"></i>\n\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<div class='dropdown-menu'>\n\t\t\t\t\t\t\t\t<a class='dropdown-item' href='javascript:void(0);'>Change Status</a>\n\t\t\t\t\t\t\t\t<a class='dropdown-item' href='javascript:void(0);'>Generate Report</a>\n\t\t\t\t\t\t\t</div>\n\t\t\t\t\t\t</div>";
                            },
                        },

                    ]

                });

            /* floatPie */
            var dataSetPie = [
                {
                    // p
                    data: {{ senti.0 }},
                    color: myapp_get_color.warning_200
                },
                {
                    // -
                    data: {{ senti.1 }},
                    color: myapp_get_color.success_200
                },
                {
                    // n
                    data: {{ senti.2 }},
                    color: myapp_get_color.info_200
                }];


            $.plot($("#flotPie"), dataSetPie,
                {
                    series:
                        {
                            pie:
                                {
                                    innerRadius: 0.5,
                                    show: true,
                                    radius: 1,
                                    label:
                                        {
                                            show: false,
                                            radius: 2 / 3,
                                            threshold: 0.1
                                        }
                                }
                        },
                    legend:
                        {
                            show: true
                        }
                });

            /* end float pie */

            /* flot toggle data is an example */
            var flot_toggle = function () {

                var data = [
                    {
                        label: "Target Profit",
                        data: dataTargetProfit,
                        color: myapp_get_color.info_400,
                        bars:
                            {
                                show: true,
                                align: "center",
                                barWidth: 30 * 30 * 60 * 1000 * 80,
                                lineWidth: 0,
                                /*fillColor: {
                                    colors: [myapp_get_color.primary_500, myapp_get_color.primary_900]
                                },*/
                                fillColor:
                                    {
                                        colors: [
                                            {
                                                opacity: 0.9
                                            },
                                            {
                                                opacity: 0.1
                                            }]
                                    }
                            },
                        highlightColor: 'rgba(255,255,255,0.3)',
                        shadowSize: 0
                    },
                    {
                        label: "Actual Profit",
                        data: dataProfit,
                        color: myapp_get_color.warning_500,
                        lines:
                            {
                                show: true,
                                lineWidth: 2
                            },
                        shadowSize: 0,
                        points:
                            {
                                show: true
                            }
                    },
                    {
                        label: "User Signups",
                        data: dataSignups,
                        color: myapp_get_color.success_500,
                        lines:
                            {
                                show: true,
                                lineWidth: 2
                            },
                        shadowSize: 0,
                        points:
                            {
                                show: true
                            }
                    }]

                var options = {
                    grid:
                        {
                            hoverable: true,
                            clickable: true,
                            tickColor: '#f2f2f2',
                            borderWidth: 1,
                            borderColor: '#f2f2f2'
                        },
                    tooltip: true,
                    tooltipOpts:
                        {
                            cssClass: 'tooltip-inner',
                            defaultTheme: false
                        },
                    xaxis:
                        {
                            mode: "time"
                        },
                    yaxes:
                        {
                            tickFormatter: function (val, axis) {
                                return "$" + val;
                            },
                            max: 1200
                        }

                };

                var plot2 = null;

                function plotNow() {
                    var d = [];
                    $("#js-checkbox-toggles").find(':checkbox').each(function () {
                        if ($(this).is(':checked')) {
                            d.push(data[$(this).attr("name").substr(4, 1)]);
                        }
                    });
                    if (d.length > 0) {
                        if (plot2) {
                            plot2.setData(d);
                            plot2.draw();
                        } else {
                            plot2 = $.plot($("#flot-toggles"), d, options);
                        }
                    }

                };

                $("#js-checkbox-toggles").find(':checkbox').on('change', function () {
                    plotNow();
                });
                plotNow()
            }
            flot_toggle();
            /* flot toggle example -- end*/

            var flotVisit = $.plot('#flotVisit', [
                    {
                        data: [
                            [0, 5],
                            [4, {{ senti.0 }}],
                            [5, 0]
                        ],
                        color: myapp_get_color.warning_200
                    },
                    {
                        data: [
                            [0, 0],
                            [4, {{ senti.1 }}],
                            [5, 0]
                        ],
                        color: myapp_get_color.success_200
                    },
                    {
                        data: [
                            [0, 9],
                            [2, {{ senti.2 }}],
                            [3, 0]
                        ],
                        color: myapp_get_color.info_200
                    }],
                {
                    series:
                        {
                            shadowSize: 0,
                            lines:
                                {
                                    show: true,
                                    lineWidth: 2,
                                    fill: true,
                                    fillColor:
                                        {
                                            colors: [
                                                {
                                                    opacity: 0
                                                },
                                                {
                                                    opacity: 0.12
                                                }]
                                        }
                                }
                        },
                    grid:
                        {
                            borderWidth: 0
                        },
                    yaxis:
                        {
                            min: 0,
                            max: 15,
                            tickColor: '#ddd',
                            ticks: [
                                [0, '0'],
                                [5, '5'],
                                [10, '10'],
                                [15, '20']
                            ],
                            font:
                                {
                                    color: '#444',
                                    size: 10
                                }
                        },
                    xaxis:
                        {

                            tickColor: '#eee',
                            ticks: [
                                [1, '+Ve'],
                                [3, 'neutral'],
                                [5, '- Ve'],
                            ],
                            font:
                                {
                                    color: '#999',
                                    size: 9
                                }
                        }
                });


        });

    </script>
    <script>
        // Class definition

        var controls = {
            leftArrow: '<i class="fal fa-angle-left" style="font-size: 1.25rem"></i>',
            rightArrow: '<i class="fal fa-angle-right" style="font-size: 1.25rem"></i>'
        }

        var runDatePicker = function () {

            // minimum setup
            $('#datepicker-1').datepicker(
                {
                    todayHighlight: true,
                    orientation: "bottom left",
                    templates: controls
                });


            // input group layout
            $('#datepicker-2').datepicker(
                {
                    todayHighlight: true,
                    orientation: "bottom left",
                    templates: controls
                });

            // input group layout for modal demo
            $('#datepicker-modal-2').datepicker(
                {
                    todayHighlight: true,
                    orientation: "bottom left",
                    templates: controls
                });

            // enable clear button
            $('#datepicker-3').datepicker(
                {
                    todayBtn: "linked",
                    clearBtn: true,
                    todayHighlight: true,
                    templates: controls
                });

            // enable clear button for modal demo
            $('#datepicker-modal-3').datepicker(
                {
                    todayBtn: "linked",
                    clearBtn: true,
                    todayHighlight: true,
                    templates: controls
                });

            // orientation
            $('#datepicker-4-1').datepicker(
                {
                    orientation: "top left",
                    todayHighlight: true,
                    templates: controls
                });

            $('#datepicker-4-2').datepicker(
                {
                    orientation: "top right",
                    todayHighlight: true,
                    templates: controls
                });

            $('#datepicker-4-3').datepicker(
                {
                    orientation: "bottom left",
                    todayHighlight: true,
                    templates: controls
                });

            $('#datepicker-4-4').datepicker(
                {
                    orientation: "bottom right",
                    todayHighlight: true,
                    templates: controls
                });

            // range picker
            $('#datepicker-5').datepicker(
                {
                    todayHighlight: true,
                    templates: controls
                });

            // inline picker
            $('#datepicker-6').datepicker(
                {
                    todayHighlight: true,
                    templates: controls
                });
        }

        $(document).ready(function () {
            runDatePicker();
        });

    </script>
{% endblock %}