{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

    <!-- BEGIN Page Content -->
    <!-- the #js-page-content id is needed for some plugins to initialize -->
    <main id="js-page-content" role="main" class="page-content">

        <!-- Error --->
        {% if projects == None %}
            <div class="h-alt-hf d-flex flex-column align-items-center justify-content-center text-center">
                <div class="alert alert-danger bg-white pt-4 pr-5 pb-3 pl-5" id="demo-alert">
                    <h1 class="fs-xxl fw-700 color-fusion-500 d-flex align-items-center justify-content-center m-0">
                        <img class="profile-image-sm rounded-circle bg-danger-700 mr-1 p-1" src="img/logo-minify.png"
                             alt="SmartAdmin WebApp Logo">
                        <span class="color-danger-700">> To err is human; to forgive, divine.</span>
                    </h1>
                    <h3 class="fw-500 mb-0 mt-3">
                        Project Not found!
                    </h3>
                    <p class="container container-sm mb-0 mt-1">
                        You have not yet created any project. Please create project from <code>Dashboard -> Media -> See
                        Data</code>. Select the no of post and click on create new project.
                    </p>
                    <div class="mt-4">
                        <a href="/dashboard/" class="btn btn-primary">
                            <span class="fw-700">Continue</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if projects %}
            <!-- Table Projects -->
            <div id="projects" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Projects <span class="fw-300"><i>By {{ active_user.first_name }}</i></span>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10"
                                data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="frame-wrap">
                            <table class="table table-bordered table-hover m-0">
                                <thead class="thead-themed">
                                <tr>
                                    <th>#</th>
                                    <th>Project Name</th>
                                    <th>Created Time</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ project.title }}</td>
                                    <td>{{ project.created_at }}</td>
                                    <td>
                                        <a href="/dashboard/monitoring/{{ project.id }}">
                                            <button class="btn btn-secondary btn-info">
                                            <i class="fas fa-eye mr-1"></i>See Analysis
                                        </button>
                                        </a>
                                        <a href="/dashboard/delete-project/{{ project.id }}">
                                            <button class="btn btn-danger btn-info">
                                            <i class="fas fa-trash mr-1"></i> Delete
                                        </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./ Table Projects -->
        {% endif %}
        <!-- ./ Error -->
    </main>
{% endblock %}
{% block footerjs %}
    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
    <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
    <script src="{% static 'theme/js/statistics/peity/peity.bundle.js' %} "></script>
    <script src="{% static 'theme/js/statistics/flot/flot.bundle.js' %}"></script>
    <script src="{% static 'theme/js/statistics/easypiechart/easypiechart.bundle.js' %}"></script>
    <script src="{% static 'theme/js/datagrid/datatables/datatables.bundle.js' %}"></script>
{% endblock %}